Slightly relax crypto_working criterion when standards require their use

The [crypto_working] criterion currently says:  "The default project security mechanisms MUST NOT depend on cryptographic algorithms that are broken (e.g., MD4, MD5, single DES, RC4, or Dual_EC_DRBG)."

As it stands this means that systems that implement current standard protocols that rely on older algorithms can never achieve certification. A key case-in-point is Network Time Protocol (NTP).   NTPv4 requires the use of MD5 and 128 bit keys for authentication if authentication is enabled (RFC 5905, section 9.2). The RFC even mentioned in the security considerations section "While the security shortfalls of the MD5 algorithm are well-known, its use in the NTP specification is consistent with widescale deployment in the Internet community."

I’m very open to tweaking the criterion as long as it doesn’t become an open door to never have strong crypto.  Suggestions on how to carefully word that exception, so it’s carefully limited, would be very welcome.  I don’t see a conflict between “while there’s no better open standard, use the best available” and “we’re working to make the standards better.”  It would make sense to not penalize a project for implementing the most recent version of a widely deployed protocol correctly, and doing it as best as it can do, simply because the protocol it must implement is flawed.

One approach would be to add a rider to this question to say "unless there is no more secure standard available".

Nicko van Someren (CTO, Linux Foundation) suggests the following longer rewrite of crypto_working:  "The default project security mechanisms MUST NOT depend on cryptographic algorithms that are broken (e.g., MD4, MD5, single DES, RC4, or Dual_EC_DRBG) unless it is used to implement an interoperable protocol defined in a published standard, the protocol implemented is the most recent published version of that standard, the standard requires the use of such an algorithm and does not offer any more secure alternative. If the most recent, most secure standardised version of the protocol demands that a broken algorithm be used then the documentation MUST describe the security risks and any known mitigations."

Nicko notes that, "While this is rather less succinct than the previous text it I think it is appropriate to limit the exception to cases of interoperability that can not be avoided.  The only other alternative that I can see to this would be to say that if the default security is based on a broken algorithm then you have to have security switched off by default, but that is not a behaviour I want to encourage. In the future I would like to see the badge criteria demand that secure modes of operation are switched on by default but since in many cases that probably means having a valid X.509 certificate installed I think we need to be careful about how we introduce this requirement."

As this is a potential criterion change, this is related to issue #334.


To recap, crypto_working currently says:

> The default security mechanisms within the software produced by the project MUST NOT depend on broken cryptographic algorithms (e.g., MD4, MD5, single DES, RC4, Dual_EC_DRBG) or use cipher modes that are inappropriate to the context (e.g., ECB mode is almost never appropriate because it reveals identical blocks within the ciphertext as demonstrated by the <a href="https://blog.filippo.io/the-ecb-penguin/">ECB penguin</a>, and CTR mode is often inappropriate because it does not perform authentication and causes duplicates if the input state is repeated).
> DETAILS: In many cases it's best to choose a block cipher algorithm mode designed to combine secrecy and authentication, e.g., Galois/Counter Mode (GCM) and EAX. Projects MAY allow users to enable broken mechanisms where necessary for compatibility, but then users know they're doing it.

Proposed new text (based on Samba, but also incorporating other changes in this criterion):

> The default security mechanisms within the software produced by the project MUST NOT depend on broken cryptographic algorithms (e.g., MD4, MD5, single DES, RC4, Dual_EC_DRBG), or use cipher modes that are inappropriate to the context, unless they are used to implement an interoperable protocol (where the protocol implemented is the most recent version of that standard broadly supported by the network ecosystem, that ecosystem requires the use of such an algorithm or mode, and that ecosystem does not offer any more secure alternative). The documentation MUST describe any relevant security risks and any known mitigations.
> DETAILS: ECB mode is almost never appropriate because it reveals identical blocks within the ciphertext as demonstrated by the <a href="https://blog.filippo.io/the-ecb-penguin/">ECB penguin</a>, and CTR mode is often inappropriate because it does not perform authentication and causes duplicates if the input state is repeated.  In many cases it's best to choose a block cipher algorithm mode designed to combine secrecy and authentication, e.g., Galois/Counter Mode (GCM) and EAX. Projects MAY allow users to enable broken mechanisms (e.g., during configuration) where necessary for compatibility, but then users know they're doing it.

This is really long, but it's a tricky topic and we want it to be extremely clear.  It'd be much simpler to say, "you may never do it", but situations like Samba's make that simpler statement hard to justify.  The goal is to allow exceptions when they're necessary.. but only when they are actually necessary.

Does this work?

That would work for Samba.

Thanks!
-- 
Andrew Bartlett
https://samba.org/~abartlet/
Authentication Developer, Samba Team         https://samba.org
Samba Development and Support, Catalyst IT   
https://catalyst.net.nz/services/samba






@jdossett says this is reasonable.  Any other comments (supporting or not)?  I want to resolve this issue, *without* creating a huge hole... I'd like to think that this modified text solves the problem.

Tweak: "unless they are used to implement" -> "unless they are necessary to implement".  I'll post a pull request soon to do this.