kernel.org is incorrectly reported as being "insecure"

The only thing preventing Linux from getting "gold" is the odd "Secured delivery against man-in-the-middle (MITM) attacks" issue.  https://www.kernel.org does not have any scripting or frames or ability to really do anything to it, so the "failures" being reported do not make much sense.

For a static site, are all of these "requirements" really sane?

I just finished reading #1346, saw this issue, and thought they might be in a similar vein...

I don't think so as kernel.org does support https properly.

How do you think they are the same?

I was thinking they're similar in that the details text says you should not serve crypto sigs over HTTP but kernel.org's CDN doesn't force a redirect to HTTPS: `http://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.3.8.tar.sign`.

I am just graping at straws that this is the missing 4% to achieve gold🥇status...

```A cryptographic hash (e.g., a sha1sum) MUST NOT be retrieved over http and used without checking for a cryptographic signature.```

No, that's not the reason.  Look at the kernel project on the badging site and see that we are failing because:
  https://www.kernel.org // X-Content-Type-Options was not set to "nosniff".
And the requirement is:
The project website, repository (if accessible via the web), and download site (if separate) MUST include key hardening headers with nonpermissive values. (URL required) 



Bumping this up as kernel.org does now provide X-Content-Type-Options and sets it to nosniff, but the tool still seems to insist that it doesn't.

In checking the .rb code in app/lib/hardened_sites_detective.rb it looks like it is checking this header, however I could not tell if it was maybe a case-sensitive thing or not...

I will need to check, but your case sensitivity suggestion is a likely culprit!

As noted, the website https://www.kernel.org *does* set "X-Content-Type-Options" to "nosniff", and the [security headers website notes this](https://securityheaders.com/?q=https%3A%2F%2Fwww.kernel.org%2F&followRedirects=on). Off to debug this, thanks for the report.

HTTP header field names are definitely case-insensitive, per RFC 2616 section 4.2. I thought so anyway, but best to check.

@gregkh -

We had two different issues, a bug in the BadgeApp *and* a legitimate detection on the git.kernel.org site (!).

You were *100%* correct that we accidentally did case-sensitive matching on HTTP fields, even though it should be case-insensitive matching. Our fault, thanks for reporting it. Nice job on the hypothesis, you must have seen this before :-). The production site now has that fixed.

However, the badge system is *correctly* reporting that there are no HTTP hardening values on git.kernel.org. Given the importance of the git.kernel.org site, adding some HTTP hardening settings seems like a reasonable thing to ask for. Here's a more detailed report from securityheaders.com:  https://securityheaders.com/?q=https%3A%2F%2Fgit.kernel.org&followRedirects=on

As git.kernel.org is a static site, having all of those headers don't really do anything, but hey, it doesn't hurt either...  They should now be fixed, let's see if the cii badging site handles it properly...

Nope, something is wrong, I now see the error of:

http://www.kernel.org/ should now be fine! // One or more of the required security hardening headers is missing.

Any ideas "which" header is missing on what site?

@gregkh - 

In this case, both <https://www.kernel.org> and repo <https://git.kernel.org> are missing `X-XSS-Protection`. They just need to add this to their headers:

~~~~
X-XSS-Protection: 1
~~~~

I agree that many hardening headers don't help on truly static sites. However, I know of no way to reliably detect static sites (trying to detect a "login" link isn't reliable). And as noted, it can't hurt to require it, especially since some "static" sites later quietly become not-completely-static sites. So if we want to make sure it's there on sites that need it, I don't see any simple way other than just flat requiring it.

I also agree that reporting *which* header is missing would be useful. This reminds me of a quote from the Unix-Hater's Handbook: "Ken Thompson  has  an  automobile  which  he  helped  design... if the driver makes a mistake, a giant “?” lights up in the center of the dashboard. “The experienced driver... will usually know what’s wrong.” We could do better.

Currently we only check 'x-content-type-options' (for nosniff) and the presence of 'content-security-policy', 'x-frame-options', 'x-xss-protection', and we check those for the project URL <https://www.kernel.org> and repo <https://git.kernel.org>.  Easy reports for each page are at https://securityheaders.com/?q=https%3A%2F%2Fwww.kernel.org&followRedirects=on and https://securityheaders.com/?q=https%3A%2F%2Fgit.kernel.org&followRedirects=on However, there's been a recent change; it looks like securityheaders is no longer reporting about x-xss-protection (which is a header that's getting pretty old in the tooth & only really useful for old browsers). We might want to remove the check for x-xss-protection. I'll post that for discussion on the mailng list. But I suggest adding those for now, can't hurt.

I appreciate the work to add the hardening headers, especially the new ones for <https://git.kernel.org/>.

I've posted discussions on the badge mailing list. In rare show of unanimity, everyone seems to agree that the time for `X-XSS-Protection` has passed. Basically, the idea of hardening headers is still valid, but X-XSS-Protection shouldn't be part of that set. Issue here: https://github.com/coreinfrastructure/best-practices-badge/issues/1426 and mailing list discussions here: https://lists.coreinfrastructure.org/g/CII-badges/messages?start=6:2020:240

Unless there's a sudden discovery of something soon, I expect we'll drop `X-XSS-Protection` this week, and given the other changes the Linux kernel has made, the Linux kernel will have this last criterion met. Thank you for all your help and collaboration.

It's really been unanimous; all agree that hardening websites is important, but that X-XSS-Protection is an obsolete way to do it. So pull request #1426 removes that specific HTTP header from the enforced list.

So given the Linux kernel's recent hardening of <https://git.kernel.org/>, I think you merely have to edit the Linux kernel entry for gold "hardened_site" at https://bestpractices.coreinfrastructure.org/en/projects/34/edit?criteria_level=2#hardened_site and assert that it is "Met" (make sure you edit the rationale).

At that point I think the Linux kernel earns a gold badge, and a big congrats to everyone involved!

@gregkh - go ahead and edit the [Linux kernel project badge entry](https://bestpractices.coreinfrastructure.org/en/projects/34?criteria_level=2) at your convenience - looks like it's earned a gold! Not surprising, but it's a good thing and hopefully a useful example for others.

Once the Linux kernel completes earning its gold badge I intend to close this issue. (I'll keep it open until then in case there's an unexpected problem.)

I thought I edited it, but it didn't seem to "stick".

So I've done it again, and from the page it seems like we have 100%, but the badge still says "silver".  Anything else I am missing that I need to do here?

Thanks!

I also just got an email saying we received the "gold" badge, but the site is not showing that, is there some timeout to refresh things?

Congrats! It shows gold on my end.

Perhaps there is a caching problem. Goodness gracious, that should not happen. I can try to investigate, but no matter what, congratulations!